<h3>My Favorites</h3>
<% @favorites_by_group.each do |group_favorites| %>
  <h4>Group: <%= link_to group_favorites[0].topic, group_favorites[0] %> </h4>
  <table class="table table-striped">
  <% group_favorites[1].each do |favorite| %>
   <tr>
    <td class="col-md-4">Title: <%= link_to favorite.resource.title, favorite.resource %></td> 
    <td class="col-md-2"><%= render partial: "/resources/#{FavoriteToggle.new(favorite.resource, current_user).already_favorited?}", locals: {resource: favorite.resource} %></td>
    </tr>
  <% end %>
  </table> 
<% end %>



