<li id="<%=comment.id%>"><%= comment.user.gmail_name %>: <%= comment.content %> | 
    <% if comment.user == current_user %>
     <%= link_to("X", comment_path(comment), method: :delete, remote: true, class: "destroy-comment-js") %>
    <% end %>
</li>