<h3>All Groups</h3>

<%= link_to "Add New Group", new_group_path %>

<table class="table">
<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.topic, group_path(group) %></td>
    <td><%= render partial: JoinGroupOptions.new(group, current_user).member?, locals: {group: group} %></td>
  </tr>
<% end %>
</table>

