<h3>All Groups</h3>

<%= link_to "Add New Group", new_group_path %>

<ul>
<% @groups.each do |group| %>
  <li><%= link_to group.topic, group_path(group) %>
  <!-- consider group admin only function --> 
  <%= button_to "delete", group, method: :delete %>

  <%= render partial: JoinGroupOptions.new(group, current_user).member?, locals: {group: group} %>
  </li>
<% end %>
</ul>

