<h3>My Groups</h3>
<br>
<%= render "shared/search_form" %>
<br>
<table class="table table-striped filterable-table">
  <tr>
    <th class="col-md-4"><strong>Name</strong></th>
    <th class="col-md-4"><strong>Description</strong></th>
    <th>Options</th>
  </tr>
  <% @groups.each do |group| %>
  <%= render partial: 'groups/group', locals: {group: group, current_user: current_user} %>
  <% end %>
</table>
