<h3>Users</h3>
<br>
<%= render "shared/search_form" %>
<br>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped filterable-table">
      <% @users.each do |user| %>
      <tr class="resource-row-js">
        <td class="col-md-4"><%= link_to user.gmail_name, user %></td>
        <td class="col-md-2"><%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post, class: "btn btn-xs btn-info" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>