 <h4> Top Commenter: <h4>
<% if @student_comments.length > 0 %>
  <strong> Name: </strong> <%= @top_commenter[:student].user.gmail_name %><br>
  <strong> Number of Comments: </strong> <%= @top_commenter[:num_comments] %><br>
  <strong> Average Comment Word Count: </strong> <%= @top_commenter[:student].average_comment_length %><br>

<br>


<div id="student-comment-graph">
  <p> Number of comments by student:</p>
    <br><br>
</div>

<% else %>
  <p> No students with comments. </p>
<% end %>
