 <h4> Top Resource Contributor: <h4>
    <% if @student_resources.length > 0 %>
        <strong> Name: </strong> <%= @top_contributor[:student].gmail_name %><br>
        <strong> Number of Resources Contributed: </strong> <%= @top_contributor[:num_resources] %><br>
        <br>
      <br>
  
    
      <div id="student-resource-graph">
        <p>Number of resources contributed by student:</p>
        <br><br>
      </div>
    <% else %>
    <p> No students have posted resources. </p>
    <% end %>