<center><h3>Analytics</h3></center><br><br>
<div class="row">
  <div class="col-md-4"></div>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#top-commenter" aria-expanded="false" aria-controls="collapseExample">
        Top Commenters
      </button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#top-contributor" aria-expanded="false" aria-controls="collapseExample">
        Top Resource Contributors
      </button>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="collapse" id="top-commenter">
      <div class="well">
        <%= render partial: 'teachers/top_commenter', locals: {top_commenter: @top_commenter} %>
      </div>
    </div>
    <div class="collapse" id="top-contributor">
      <div class="well">
        <%= render partial: 'teachers/top_contributor', locals: {top_contributor: @top_contributor} %>  
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>