<div>
  <%= render 'public_activity/activity_header', {a: a} %>
  <% if a.trackable %>
    commented "<%= a.trackable.content %>" on <%= link_to a.trackable.resource.title, resource_path(a.trackable.resource) %>.
  <% else %>
    commented on a resource that has since been deleted. 
  <% end %>
</div>
