.salmon{
  background-color: #EB6864;
  opacity: 0.8;
}

.salmon-text{
  color:#EB6864;
}

.logo{
  font-size:5em;
  color: #555;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.brand-font {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 600;
}

.white{
  color:#fff;
}

.gray{
  background-color:#eee;
}

.axis path,
.axis line {
  fill: #000;
  stroke: #000;
}

.chart text {
  fill: #EB6864;
}

#externalSiteContent {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

#externalSiteContent iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}