.salmon{
  background-color: #EB6864;
  opacity: 0.8;
}

.logo{
  font-size:5em;
  color: #555;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.brand-font {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 600;
}

.white{
  color:#fff;
}

.gray{
  background-color:#eee;
}